html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff; }

body {
  background: #fff;
  margin: 0;
  line-height: 1.4; }

.btn {
  background-color: #ba3838;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  color: #fff; }

img {
  max-width: 100%; }

.wrapper {
  display: grid;
  gap: 20px; }

nav ul {
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  margin: 0; }

nav a {
  background: #ba3838;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }

nav a:hover {
  background: #fff;
  color: #ba3838; }

.top-container {
  display: grid;
  gap: 20px;
  grid-template-areas: "header" "side-a" "side-b"; }

header {
  margin: 0 10px;
  background-image: url(../img/header-picture.jpg);
  grid-area: header;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }

.aside-box {
  margin: 0 10px;
  background: #ededed77;
  display: grid;
  align-items: center;
  justify-items: center;
  color: #ba3838;
  padding: 1.5rem 0.3rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  text-align: center; }
  .aside-box h4 {
    font-size: 2rem;
    margin: 0; }
  .aside-box p {
    font-weight: bold;
    color: black; }
  .aside-box a:hover {
    transform: scale(1.1); }
  .aside-box .aside-box-a {
    grid-area: side-a; }
  .aside-box .aside-box-b {
    grid-area: side-b; }

.icon-boxes {
  margin: 0 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  max-width: 100%; }
  .icon-boxes .box {
    background: #ededed77;
    text-align: center;
    padding: 1rem 1rem;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    color: #ba3838; }
  .icon-boxes p {
    color: black;
    font-weight: bold; }

.picture-with-text {
  margin: 0 10px;
  background: #ededed77;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  display: grid;
  gap: 20px;
  padding: 1rem;
  grid-template-columns: 1fr;
  text-align: center; }
  .picture-with-text h2 {
    font-size: 2rem;
    color: #ba3838; }
  .picture-with-text p {
    color: black;
    font-weight: bold; }

.gallery {
  margin: 0 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
  .gallery img {
    width: 100%;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }

footer {
  background: #ba3838;
  text-align: center;
  padding: .7rem; }

.container {
  display: grid; }

.team {
  text-align: center; }
  .team h1 {
    color: black; }
  .team img {
    width: 100%; }
  .team .aside-box {
    display: none; }

.players {
  margin: 0 10px; }
  .players ul {
    display: grid;
    gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr; }
  .players a {
    display: grid;
    grid-template-columns: 33% 10% 57%;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    background: #ededed77;
    color: #ba3838; }
    .players a .number {
      background: #ba3838;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center; }
    .players a .name {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center; }
    .players a img {
      width: 100%; }
  .players h2 {
    color: black;
    border: #ba3838;
    border-bottom-style: solid; }

@media screen and (min-width: 550px) and (max-width: 800px) {
  .top-container {
    grid-template-areas: "header header" "side-a side-b"; }
  .players ul {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 801px) {
  body {
    margin: 30px 50px; }
  .top-container {
    grid-template-areas: "header header header header side-a" "header header header header side-b";
    margin-bottom: 1rem; }
    .top-container header {
      margin: 0;
      padding: 0 15rem; }
    .top-container .aside-box {
      margin: 0; }
  .icon-boxes {
    margin: 0; }
  .picture-with-text {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem; }
  .gallery {
    margin: 0; }
  .players {
    margin: 0; }
    .players ul {
      grid-template-columns: repeat(3, 1fr); }
  nav ul {
    gap: 20px; }
  nav a {
    padding: .8rem;
    font-size: 1.2rem; } }

@media screen and (min-width: 550px) and (max-width: 860px) {
  .icon-boxes {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 861px) {
  .icon-boxes {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem; } }

@media screen and (min-width: 1100px) {
  .team {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "h1 h1 h1 h1"  "photo photo photo box-a" "photo photo photo box-b"; }
    .team h1 {
      grid-area: h1;
      margin-top: 3rem;
      margin-bottom: 0; }
    .team img {
      grid-area: photo; }
    .team .aside-box {
      display: grid;
      margin: 0; }
    .team .aside-box-a {
      grid-area: box-a; }
    .team .aside-box-b {
      grid-area: box-b; } }
